<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Customers</h1>
<table>
<tr>
<th>Customer id</th>
<th>First name</th>
<th>Last name</th>
<th>Phone number</th>
<th>Email</th>
<th>Address</th>
<th>Cars</th>
</tr>
<tr th:each="customer : ${customers}">
<td th:text="${customer.customerid}"></td>
<td th:text="${customer.firstname}"></td>
<td th:text="${customer.lastname}"></td>
<td th:text="${customer.phonenumber}"></td>
<td th:text="${customer.email}"></td>
<td th:text="${customer.address}"></td>
<td th:text="${customer.cars}"></td>
<button>Delete customer</button>
</tr>
</table>
</body>
</html>